.info-rails {
  --accent-line-length: clamp(80px, 15vh, 180px);
  --accent-line-length: clamp(80px, 15dvh, 180px);
  --denominator: 2;
  @include ff-mono;
  @include center;
  position: fixed;
  align-items: flex-end;
  height: 100vh;
  height: 100dvh;
  z-index: 10;

  &__left,
  &__right {
    @include center;
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    bottom: 0;

    width: var(--gutter-width);
  }

  &__left {
    left: var(--nav-padding);
  }

  &__right {
    right: var(--nav-padding);
  }

  &__link-list-item {
    @include transition;

    @include hover-wrapper {
      &:hover {
        transform: translateY(-0.25rem);

        .info-rails__link {
          color: var(--ui-accent-1);
        }
      }
    }
  }

  &__link {
    @include transition;
    @include cursor-copy;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;

    &::after {
      display: none;
    }

    &.text-link {
      font-size: 1em;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding: 0.5rem;
    }
  }

  &__accent-line {
    height: var(--accent-line-length);
    width: 2px;
    bottom: 0;
    background-color: var(--ui-accent-1);
  }
}

@include mq(1050px) {
  .info-rails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.25rem;
    width: var(--gutter-width);
    left: 0;
    border-right: 2px solid var(--ui-accent-1);

    &__left,
    &__right {
      left: 0;
      right: unset;
      position: relative;
    }

    &__right {
      margin-block-end: 0.5rem;
    }

    &__accent-line {
      display: none;
    }

    &__link {
      font-size: 1.25rem;

      &.text-link {
        font-size: 0.8rem;
      }
    }
  }
}

@include mq(430px, height) {
  .info-rails {
    &__right {
      display: none;
    }
  }
}
