.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  max-width: calc(var(--max-width) + var(--section-x-padding));
  margin-top: var(--nav-height);
  width: 100%;
}