.other-work {
  &__section-title {
    margin-bottom: 1.5rem;
  }

  &__header-row {
    @include hover-wrapper {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__row {
    @include transition;
    position: relative;

    @include hover-wrapper {
      &:hover {
        background-color: rgba(var(--ui-accent-1-rgb), 0.1);
        color: var(--ui-text-hover);
      }
    }
  }

  &__image {
    @include styled-border;
    position: fixed;
    transform: rotate(-10deg);
    z-index: 50;
    outline: 1px solid var(--ui-accent-1);

    & > span {
      display: block !important;
    }
  }

  &__header-row {
    th {
      white-space: nowrap;
    }
  }

  &__year {
    color: var(--ui-accent-1);
  }

  &__links {
    display: flex;
  }

  &__link {
    &[data-key^="gitHub"] {
      order: 1;
    }

    &[data-key^="vsCode"] {
      order: 2;
    }

    &[data-key^="deployed"] {
      order: 3;
    }
  }

  &__icon-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;

    &::after {
      display: none;
    }

    @include hover-wrapper {
      &:hover {
        color: var(--ui-accent-1);
        transform: translatey(-3px);
      }
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
