{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "semi": true,
  "arrowParens": "always"
}
