@import "../../styles/utils/mixins.scss";

.carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  position: relative;
  width: 100%;
}

.slides-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 7.5em;
  width: 100%;

  button {
    --button-offset: 4em;
    position: absolute;
    top: 13em;
    padding: 1em;
    left: var(--button-offset);

    &:last-child {
      left: unset;
      right: var(--button-offset);
    }
  }
}

.slide {
  flex-shrink: 0;
  max-width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0.5em;
  max-width: 100%;
}

.navigation-item {
  --opacity: 0.25;
  position: relative;
  height: 2rem;
  width: 1rem;
  transition: 0.3s cubic-bezier(0.32, 0.72, 0, 1);
  transition-property: width;

  &:not(.clap),
  &:not(.clap):not(:last-child) {
    margin: 0;
    padding: 0;
  }

  &:global(.no-frame) {
    &:focus {
      box-shadow: none;
    }
  }

  &:not(.clap):active {
    transform: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--accent-line-width);
    transform: translateY(-50%);
    background-color: var(--ui-accent-1);
    opacity: var(--opacity);
    transition: 0.3s cubic-bezier(0.32, 0.72, 0, 1);
    transition-property: height;
  }

  &:global(.active) {
    --opacity: 1;
    width: 2.5em;

    &::before {
      height: 0.325em;
    }
  }
}

@include mq(900px) {
  .slides-buttons-wrapper {
    padding: 0;

    button {
      display: none;
    }
  }
}
