.about {
  &__main-content {
    display: flex;
    width: 100%;
    gap: 1.5rem;
  }

  &__image {
    @include transition;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1 0;
    position: relative;

    > span {
      border-radius: 0.5em;
    }
  }

  &__bio-text {
    margin-bottom: 1.5rem;

    p {
      font-size: 1rem;
    }
  }

  &__logo {
    @include center;
    position: absolute;
    color: rgba(var(--ui-bg-hover-rgb), 1);
    width: 110%;
    height: 110%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    svg {
      padding: 1rem;
    }
  }
}

@include md {
  .about {
    margin-right: 0;

    &__main-content {
      flex-direction: column;
    }

    &__bio {
      @include center;
    }

    &__image {
      &::after {
        top: 50%;
      }
    }
  }
}
