.contact {
  &__card {
    text-align: center;
    padding: 6rem;
    width: min-content;
    margin: 0 auto;
    background-color: rgba(var(--ui-accent-1-rgb), 0.1);
    color: var(--ui-text-hover);
    position: relative;

    & > :not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 1rem;
      border: 1px solid var(--ui-accent-1);
    }
  }

  &__card-heading {
    @include ff-mono;
  }

  a.contact__card-email {
    font-size: 1.5rem;
  }

  .mail-icon {
    font-size: 1.25rem;
    display: block;
    color: var(--ui-accent-1);
  }
}