.data-table {
  &__header {
    display: flex;
    color: var(--ui-text-hover);
    margin-bottom: 0.5rem;

    &:first-of-type {
      flex: 0 0 var(--tab-list-width);
      margin-right: var(--tab-list-gap);
    }
  }

  &.expanded &__section-title .a {
    color: var(--ui-text-hover);
  }

  &.expanded &__expand-collapse {
    --rotation: 180deg;
  }

  &__section-title {
    @include transition;
    display: flex;
    margin-bottom: 1.5rem;

    h3 {
      margin-right: 0.5rem;
    }
  }

  &__expand-collapse {
    --rotation: 0;
    @include transition;
    transform: rotate(var(--rotation));
    color: var(--ui-accent-1);

    svg {
      animation: float 0.75s ease-in-out alternate infinite;
    }
  }


  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    margin-bottom: 1rem;
  }

  &__list-header {
    margin-bottom: 0.5rem;
  }

  &__location {
    margin-left: 0.25rem;
  }

  &__dates {
    @include ff-mono;
    margin: 0;
    font-size: 0.8em;
  }

  &__title {
    color: var(--ui-text-hover);
    margin-bottom: 0.25rem;
  }

  &__employer-wrapper {
    display: flex;
  }

  &__employer-name {
    display: flex;
    // align-items: center;
    color: var(--ui-accent-1);
    margin-right: var(--tab-list-gap);
    flex-basis: var(--tab-list-width);
  }

  &__employer-logo {
    transform: translateY(1px);
    margin-right: 0.5rem;
  }

  &__work {
    @include transition;
    position: relative;
    padding-left: 1.75rem;

    &:hover {
      color: var(--ui-text-hover);
    }

    p::before {
      content: "\2736";
      position: absolute;
      color: var(--ui-accent-1);
      top: 12px;
      left: 0.5rem;
      font-size: 0.8em;
      transform: translateY(-50%);
    }
  }
}
