.footer {
  font-weight: 300;
  letter-spacing: 1px;
  padding: var(--nav-padding) 0;
  background-color: rgba(var(--ui-bg-rgb), 0.8);
  border-bottom: 2px solid var(--ui-accent-1);
  width: 100%;
  
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  &__message {
    @include ff-mono;
    font-size: 0.8em;
    margin-bottom: 0;
  }
}