.hero {
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  position: relative;
  
  .container {
    align-items: flex-start;
    margin-bottom: 10vh;
  }

  &__overline {
    @include ff-mono;
    display: flex;
    align-items: center;
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    color: var(--ui-accent-1);
    margin-bottom: 0.5rem;
  }

  [data-alt-text] {
    overflow: hidden;
    position: relative;
    
    span {
      --translateY: 0;
      @include transition;
      transform: translateY(var(--translateY));
      display: block;
    }

    @include hover-wrapper {
      &:hover span {
        --translateY: -100%;
      }
  
      &:hover::after {
        --opacity: 1;
        --translateY: -0.4em;
      }
    }

    &::after {
      --translateY:100%;
      --opacity: 0;
      @include transition;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.775em;
      content: attr(data-alt-text);
      display: block;
      transform: perspective(2000px) translateY(calc(var(--translateY) + 0.5em));
      opacity: var(--opacity);
      transform-origin: top;
    }
  }

  &__headline, 
  &__vocation {
    @include ff-body-bold;
  }
  
  &__headline {
    max-width: 25ch;
    color: var(--ui-text-hover);
    line-height: 1.1;

    &.alt {
      display: block;
    }

    &:last-child {
      margin-bottom: 0.75rem;
    }
  }
  
  &__vocation {
    color: var(--ui-text);
    font-size: calc(0.6 * var(--h1));
    margin-bottom: 1.25rem;
    line-height: 1.3;
  }

  &__brief {
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    color: var(--ui-text);
    line-height: 2;
  }

  &__cta-button {
    margin-top: 2rem;
  }

  &__view-more {
    @include cursor-pointer;
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    padding: 0.5rem;
  }
}

@include sm {
  .hero {
    &__view-more {
      display: none;
    }
  }
}