.hero {
  // --headline-size: clamp(2rem, 5vw, 4rem);
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  position: relative;
  
  .container {
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  &__overline {
    @include ff-mono;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--ui-accent-1);
    margin-bottom: 0.5rem;
  }

  .wave {
    position: relative;
    display: inline-block;
    animation: wave 0.35s ease-out alternate infinite;
    font-size: 1.5rem;
  }

  &__greeting {
    margin-left: 0.5rem;
  }

  &__headline, 
  &__vocation {
    @include ff-body-bold;
    max-width: 25ch;
    line-height: 1.3;
  }

  &__headline {
    color: var(--ui-text-hover);
  }

  &__vocation {
    color: var(--ui-text);
    font-size: calc(0.8 * var(--h1));
    margin-bottom: 0.75rem;
  }

  &__brief {
    font-size: 1rem;
    color: var(--ui-text);
    line-height: 2;
  }

  &__cta-button {
    margin-top: 2rem;
  }

  &__view-more {
    @include cursor-pointer;
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    padding: 0.5rem;
  }
}

