.nav {
  @include ff-mono;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: var(--nav-padding) calc(var(--section-x-padding) / 2);
  background: linear-gradient(to bottom, rgba(var(--ui-bg-rgb), 0.95), rgba(var(--ui-bg-rgb), 0));
  backdrop-filter: blur(10px);
  margin-top: 2px;
  width: 100vw;
  height: var(--nav-height);

  .container {
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(var(--max-width) - var(--section-x-padding));
  }

  &__logo a {
    --rotation: 0deg;
    @include transition;
    @include center;
    height: var(--nav-logo-height);
    color: var(--ui-accent-1);
    margin-left: -1rem;
    padding: 1rem;
    transform: rotate(var(--rotation));
    z-index: 25;
    width: 4rem;

    &::after {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }

    @include hover-wrapper {
      &:hover {
        --rotation: 45deg;
        @include cursor-pointer;
      }
    }
  }

  &__main-content {
    @include center;
  }

  &__links-wrapper {
    display: flex;
    align-items: center;
    
    & > :not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  
  &__links {
    display: flex;

    & > :not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    @include center;
    @include cursor-pointer;
    
    &__link {
      padding: 0.5rem 0.25rem;
    }

    &::before {
      counter-increment: nav-link;
      content: "0" counter(nav-link) ". ";
      font-size: 0.85em;
      letter-spacing: 1px;
      color: var(--ui-accent-1);
    }
  }

  &__resume-link {
    &::after {
      display: none;
    }
  }

  &__button {
    &.sm {
      padding: 0.75rem 1.5rem;
    }
  }

  &__icon {
    @include center;
    color: var(--ui-accent-1);
    font-size: 1.5rem;
    display: block;
  }

  #open, #close {
    display: none;
  }

  #open {
    margin-right: -1rem;
  }

  #close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    margin: 2rem;
  }

  &__dismiss {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px) brightness(0.8);
    z-index: 20;
  }
}

@include md {
  .nav {
    .nav-expanded & {
      backdrop-filter: none;
    }

    &__links-wrapper {
      --translateX: 100%;
      @include transition;
      transition-property: transform;
      position: fixed;
      opacity: 0;
      flex-direction: column;
      justify-content: center;
      top: 2px;
      right: 0;
      height: 100vh;
      background-color: var(--ui-bg-hover);
      padding: calc(2rem + 1vw);
      width: clamp(250px, 40vw, 400px);
      z-index: 50;
      transform: translateX(var(--translateX));

      .nav-expanded & {
        --translateX: 0;
        opacity: 1;
      }

      & > :not(:last-child) {
        margin-right: 0;
      }
    }

    &__links {
      flex-direction: column;

      & > :not(:last-child) {
        margin-right: 0;
      }
    }

    &__link {
      margin-bottom: 1.5rem;
      pointer-events: none;

      .nav-expanded & {
        pointer-events: all;
        color: var(--ui-text-hover);
      }
    }

    #open {
      display: flex;

      .nav-expanded & {
        pointer-events: none;
      }
    }
    
    #close {
      display: flex;
    }
    
    &__button--resume {
      margin-top: 1.5rem;
    }

    &__dismiss {
      .nav-expanded & {
        display: block;
      }
    }
  }
}