.project-kudos {
  margin-inline: calc(-1 * var(--container-x-padding));
  position: relative;
  overflow: hidden;
  text-align: center;

  &__marquee-container {
    margin-block: 1.5rem;
  }

  &__kudos {
    display: flex;
    align-items: center;
  }

  &__kudo {
    --rotation: 0;
    flex: 0 1 45ch;
    max-width: 45ch;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(1rem, 0.8rem + 4vw, 4rem);
    background-color: rgba(var(--ui-accent-1-rgb), 0.1);
    color: var(--ui-text-hover);
    overflow: hidden;
    transform: rotate(var(--rotation));
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      inset: 1rem;
      border: 0.1rem solid var(--ui-accent-1);
    }

    &::after {
      content: "\201E";
      position: absolute;
      font-family: var(--font-mono);
      bottom: -0.15em;
      right: -0.1em;
      font-size: 12rem;
      color: rgba(var(--ui-accent-1-rgb), 0.2);
    }

    p {
      margin-bottom: 0;
      font-family: var(--font-mono);
      color: var(--ui-accent-1);
      position: relative;
      line-height: 1.35;
    }
  }

  @include hover-wrapper {
    &__kudo:hover &__quote {
      color: var(--ui-text-hover);
    }

    &:hover &__credit p, 
    &:hover &__project-name {
      --opacity: 1;
    }
  }

  &__project-name, &__credit p {
    --opacity: 0.8;
    font-size: 0.8rem;
    @include transition;
    letter-spacing: 0.3px;
    padding-inline: 1rem;
    opacity: var(--opacity);
  }

  &__credit {
    margin-bottom: 0.5rem;

    p {
      opacity: var(--opacity);
      font-family: var(--font-mono);
      color: var(--ui-accent-1);
      position: relative;
      line-height: 1.5;
      margin-bottom: 0.125rem;
    }
  }
}

p.project-kudos__quote {
  @include transition;
  color: var(--ui-text);
  font-size: 0.95rem;
  font-family: var(--font-ss);
  line-height: 1.8;
  margin-bottom: 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
