.resume-button {
  &__button:first-child {
    display: flex;
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    span {
      margin-right: 0;
    }
    
    .icon {
      @include center;
      padding: 0.75rem;

      &:first-child {
        border-right: 1px solid var(--ui-accent-1);
      }

      @include hover-wrapper {
        &:hover {
          background-color: rgba(var(--ui-accent-1-rgb), 0.2);
        }
      }
    }

    .resume-button__download-icon {
      padding: 0.75rem;

      svg {
        width: 1.25em;
        height: 1.25em;
      }
    }

    [data-tooltip] {
      &::after {
        display: none;
      }
    }
  }

  &__file-icon > span {
    margin-left: 0.5rem;
  }
}