.tab-list {
  --indicator-width: 2px;

  &__title-wrapper {
    display: flex;
    margin-bottom: 0.5rem;
  }

  &__title {
    margin: 1rem 0;
  }

  &.expandable &__title {
    @include cursor-pointer;
  }

  &__main-content {
    --height: 0;
    --opacity: 0;
    display: flex;
    position: relative;
    margin-bottom: 3rem;
    width: 100%;
    opacity: var(--opacity);
    height: var(--height);
    transition: height 0.01s ease-out, opacity 1s ease-out;
    transform-origin: top;
    overflow: hidden;
  }
  
  &.expanded &__main-content {
    --height: 100%;
    --opacity: 1;
    overflow: visible;
  }

  &.expanded &__expand-collapse {
    --rotation: 180deg;
  }

  &__expand-collapse {
    --rotation: 0;
    @include transition;
    transform: rotate(var(--rotation));
    color: var(--ui-accent-1);

    svg {
      animation: float 0.75s ease-in-out alternate infinite;
    }
  }

  &__tabs {
    margin-right: var(--tab-list-gap);
    flex-basis: var(--tab-list-width);
  }

  &__labels {
    width: var(--tab-list-width);
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: var(--indicator-width) solid rgba(var(--ui-text-rgb), 0.25);
  }

  &__label {
    @include transition;
    padding: 1rem 1.5rem;
    font-size: 0.9em;
    white-space: nowrap;

    &.active {
      color: var(--ui-text-hover);
      background-color: rgba(var(--ui-text-hover-rgb), 0.05);
      padding-left: 2rem;
      position: relative;

      .tab-list__label-title {
        font-weight: 700;
      }
    }

    &:hover {
      @include cursor-pointer;
      background-color: rgba(var(--ui-text-hover-rgb), 0.1);
      color: var(--ui-text-hover);
      padding-left: 2rem;
    }
  }

  &__sublabel {
    @include ff-mono;
    opacity: 0.8;
  }

  &__label-title {
    @include ff-ss;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__tabs-indicator {
    @include transition;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--indicator-width);
    height: 49px;
    background-color: var(--ui-accent-1);
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__role {
    color: var(--ui-text-hover);
  }

  &__employer {
    color: var(--ui-accent-1);
  }

  &__dates {
    @include ff-mono;
  }

  &__work-list {
    & > :not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &__work-list-item {
    @include transition;
    position: relative;
    padding-left: 1.75rem;

    &:hover {
      color: var(--ui-text-hover);
    }

    &::before {
      content: "\2736";
      position: absolute;
      color: var(--ui-accent-1);
      top: 12px;
      left: 0.5rem;
      font-size: 0.8em;
      transform: translateY(-50%);
    }
  }
}