.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include md {
    align-items: center;
  }
}

.section {
  @include center;
  padding: var(--section-y-padding) var(--section-x-padding);
  min-height: 40vh;
  width: 100%;
  position: relative;
}

.section-subheading {
  margin-bottom: 1.5rem;
}

.marker {
  position: absolute;
  top: -2rem;
}

.accent-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: var(--ui-accent-1);
  z-index: 15;
}
