// Breakpoints
$bp-small: 600px;
$bp-medium: 900px;
$bp-large: 1200px;

@mixin xsm {
  @media (max-width: #{$bp-x-small}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$bp-small}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$bp-medium}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$bp-large}) {
    @content;
  }
}

@mixin mq($size: #{$bp-large}, $type: width) {
  @media (max-#{$type}: $size) {
    @content;
  }
}

@mixin ff-body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
}

@mixin ff-body-bold {
  font-family: var(--font-body);
  font-weight: var(--font-weight-bold);
}

@mixin ff-mono {
  font-family: var(--font-mono);
  font-size: 0.85em;
  letter-spacing: 0.5px;
  font-weight: var(--font-weight-regular);
}

@mixin ff-ss {
  font-family: var(--font-ss);
  font-weight: var(--font-weight-regular);
}

@mixin transition($property: all, $duration: 0.3s) {
  transition: $property $duration var(--curve);
}

@mixin cursor-default {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23240445" stroke="%23FFC400" stroke-width="1.5" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'),
    default;
}

@mixin cursor-pointer {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23240445" stroke="%23FFC400" stroke-width="1.5" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
}

@mixin cursor-copy {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="36" viewBox="0 0 24 24"><path fill="%23240445" stroke="%23FFC400" stroke-width="1.5" d="M15 9V4.5c0-.83-.67-1.5-1.5-1.5h-3C9.67 3 9 3.67 9 4.5V9H4.5C3.67 9 3 9.67 3 10.5v3c0 .83.67 1.5 1.5 1.5H9v4.5c0 .83.67 1.5 1.5 1.5h3c.83 0 1.5-.67 1.5-1.5V15h4.5c.83 0 1.5-.67 1.5-1.5v-3c0-.83-.67-1.5-1.5-1.5H15Z"></path></svg>'),
    copy;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bg-obscure {
  background-color: transparent;
  background-image: radial-gradient(rgba(var(--ui-bg-rgb), 0) 1px, var(--ui-bg) 1px);
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(3px);
}

@mixin styled-border {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0.5rem, 0.5rem);
    border-right: 1px solid var(--ui-accent-1);
    border-bottom: 1px solid var(--ui-accent-1);
    z-index: -1;
  }
}

@mixin hover-wrapper {
  @media (hover: hover) {
    @content;
  }
}

@mixin tooltip {
  position: relative;
  --scale: 0;

  &::before {
    @include ff-mono;
    @include transition;
    content: attr(data-tooltip);
    position: absolute;
    background-color: var(--ui-accent-1);
    backdrop-filter: blur(10px);
    color: var(--ui-bg);
    padding: 0.25rem 0.75rem;
    top: -1.75rem;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    opacity: 0;
    z-index: 2;
    text-align: center;
    width: max-content;
    line-height: 1.7;
    font-size: 0.9em;
    font-weight: 500;
  }

  &::after {
    content: "i";
    color: var(--ui-accent-1);
    font-weight: bold;
    font-size: 0.65em;
    top: 0;
    right: 0;
  }

  &.no-hover::after {
    display: none;
  }

  @include hover-wrapper {
    &:hover {
      &::before,
      &::after {
        --scale: 1;
        opacity: 1;
      }
    }
  }
}
