@function get-rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}

:root {
  $ui-bg: #16032c;
  --ui-bg: #{$ui-bg};
  --ui-bg-rgb: #{get-rgb($ui-bg)};

  $ui-bg-hover: lighten(saturate($ui-bg, 10%), 10%);
  --ui-bg-hover: #{$ui-bg-hover};
  --ui-bg-hover-rgb: #{get-rgb($ui-bg-hover)};

  $ui-text: lighten(desaturate($ui-bg, 75%), 60%);
  --ui-text: #{$ui-text};
  --ui-text-rgb: #{get-rgb($ui-text)};

  $ui-text-hover: #f8f8f8;
  --ui-text-hover: #{$ui-text-hover};
  --ui-text-hover-rgb: #{get-rgb($ui-text-hover)};

  $ui-accent-1: #ffc400;
  --ui-accent-1: #{$ui-accent-1};
  --ui-accent-1-rgb: #{get-rgb($ui-accent-1)};

  --container-x-padding: 2rem;
  --max-width: 900px;
  --nav-padding: 1.5rem;
  --nav-logo-height: 3.5rem;
  --nav-height: calc(var(--nav-logo-height) + 2 * var(--nav-padding));
  --tab-list-width: 265px;
  --tab-list-gap: 2rem;
  --section-x-padding: clamp(2.5rem, 5vw, 6rem);
  --section-y-padding: clamp(4.5rem, 5vw, 6rem);
  --h1: clamp(2rem, 0.11rem + 6.55vw, 4rem);
  --h2: clamp(1.25rem, 1.1rem + 3vw, 2.25rem);
  --h3: clamp(1.125rem, 1.8rem + 3vw, 1.25rem);
  --curve: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --p-max-width: 500px;
  --gutter-width: 3.5rem;
  --accent-line-width: 2px;
}
