@import "../styles/utils/mixins";

.layout-background {
  @include bg-obscure;
  background-image: radial-gradient(rgba(var(--ui-bg-light-rgb), 0) 1px, var(--ui-bg-light) 1px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  height: 110dvh; // for iOS Safari
  z-index: -1;
}
