@import "../styles/utils/mixins";

.layout-background {
  @include bg-obscure;
  background-image: radial-gradient(rgba(var(--ui-bg-light-rgb), 0) 1px, var(--ui-bg-light) 1px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  height: 110dvh; // for iOS Safari
  z-index: -1;
}

// .little-star {
//   --offset: 30;
//   --cell-size: 4px;
//   width: 2px;
//   aspect-ratio: 1;
//   position: fixed;
//   left: calc(var(--offset) * var(--cell-size));
//   top: calc(var(--offset) * var(--cell-size));
//   transform: translate(50%, 50%);
//   animation: twinkle-twiznkle 2s infinite;
//   color: var(--ui-accent-1);
// }

// @keyframes twinkle-twinkle {
//   0%,
//   100% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 8;
//   }
// }
