.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  @include center;
  padding: 6rem var(--section-x-padding);
  min-height: 40vh;
  width: 100%;
  max-width: calc(var(--max-width) + var(--section-x-padding));
}