.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  @include center;
  padding: 6rem var(--section-x-padding);
  min-height: 40vh;
  width: 100%;
  // margin: 0 auto;
  // max-width: calc(var(--max-width) + var(--section-x-padding));
  position: relative;
}

.section-subheading {
  margin-bottom: 1.5rem;
}

.marker {
  position: absolute;
  top: -2rem;
}