// Breakpoints
$bp-small: 600px;
$bp-medium: 900px;
$bp-large: 1200px;

@mixin xsm {
  @media (max-width: #{$bp-x-small}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$bp-small}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$bp-medium}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$bp-large}) {
    @content;
  }
}

@mixin mq($width: #{$bp-large}) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin ff-body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
}

@mixin ff-body-bold {
  font-family: var(--font-body);
  font-weight: var(--font-weight-bold);
}

@mixin ff-mono {
  font-family: var(--font-mono);
  font-size: 0.85em;
  letter-spacing: 0.5px;
  font-weight: 400;
}

@mixin ff-ss {
  font-family: var(--font-ss);
  font-weight: 400;
}

@mixin transition($property: all, $duration: 0.3s) {
  transition: $property $duration var(--curve);
}

@mixin cursor-default {
  cursor: url("/images/cursors/cursor.svg"), default;
  width: 100px;
  height: 100px;
}

@mixin cursor-pointer {
  cursor: url("/images/cursors/cursor-hovered.svg"), pointer;
}

@mixin cursor-copy {
  cursor: url("/images/cursors/cursor-copy.svg"), copy;
}

@mixin cursor-open-hand {
  cursor: url("/images/cursors/cursor-open-hand.svg"), grab;
}

@mixin cursor-grab {
  cursor: url("/images/cursors/cursor-grab.svg"), grabbing;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bg-obscure {
  background-color: transparent;
  background-image: radial-gradient(
    rgba(var(--ui-bg-rgb), 0) 1px,
    var(--ui-bg) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(3px);
}

@mixin styled-border {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0.5rem, 0.5rem);
    border-right: 1px solid var(--ui-accent-1);
    border-bottom: 1px solid var(--ui-accent-1);
    z-index: -1;
  }
}

@mixin hover-wrapper {
  @media (hover: hover) {
    @content;
  }
}

@mixin tooltip {
  position: relative;
  --scale: 0;
  
  &::before {
    @include ff-mono;
    @include transition;
    content: attr(data-tooltip);
    position: absolute;
    background-color: var(--ui-accent-1);
    backdrop-filter: blur(10px);
    color: var(--ui-bg);
    padding: 0.25rem 0.75rem;
    top: -1.75rem;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    opacity: 0;
    z-index: 2;
    text-align: center;
    width: max-content;
    line-height: 1.7;
    font-size: 0.9em;
    font-weight: 500;
  }

  &::after {
    content: "i";
    color: var(--ui-accent-1);
    font-weight: bold;
    font-size: 0.65em;
    top: 0;
    right: 0;
  }

  &.no-hover::after {
    display: none;
  }

  @include hover-wrapper {
    &:hover {
      &::before, 
      &::after {
        --scale: 1;
        opacity: 1;
      }
    }
  }
}