:root {
  --font-body: "Inter", sans-serif;
  // --font-body: "Space Grotesk", sans-serif;
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --font-mono: "IBM Plex Mono", serif;
  // --font-mono: "Space Mono", monospace;
}

